- title @track.title

%p
  %strong Lyrics:
  = simple_format(@track.lyrics)

%p
  = link_to "Edit", edit_track_path(@track)
  |
  = link_to "Delete", @track, :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "Back to the artist", tracks_path
